https://github.com/discourse/discourse-akismet
https://github.com/discourse/discourse-assign
https://github.com/discourse/discourse-calendar
https://github.com/discourse/discourse-canned-replies
https://github.com/discourse/discourse-checklist
https://github.com/discourse/discourse-docs
https://github.com/discourse/discourse-encrypt
https://github.com/paviliondev/discourse-locations
https://github.com/paviliondev/discourse-legal-tools
https://github.com/discourse/discourse-math
https://github.com/discourse/discourse-openid-connect
https://github.com/discourse/discourse-solved
https://github.com/discourse/discourse-voting
https://github.com/discourse/discourse-air
https://github.com/discourse/discourse-reactions
https://github.com/discourse/discourse-templates
https://github.com/discourse/discourse-docs-card-filter
